/* CSS extracted from Pasted text(4).txt */

@font-face {
  font-family: 'Apercu';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src:
    url(https://static.figma.com/blog/fonts/Apercu-LightItalic.eot?#iefix) format('embedded-opentype'),
    url(https://static.figma.com/blog/fonts/Apercu-LightItalic.woff2) format('woff2'),
    url(https://static.figma.com/blog/fonts/Apercu-LightItalic.ttf) format('truetype');
}


@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url(https://static.figma.com/blog/fonts/Apercu-Light.eot?#iefix) format('embedded-opentype'),
    url(https://static.figma.com/blog/fonts/Apercu-Light.woff2) format('woff2'),
    url(https://static.figma.com/blog/fonts/Apercu-Light.ttf) format('truetype');
}


@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/blog/fonts/Apercu-Regular.eot?#iefix) format('embedded-opentype'),
    url(https://static.figma.com/blog/fonts/Apercu-Regular.woff2) format('woff2'),
    url(https://static.figma.com/blog/fonts/Apercu-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'Apercu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.eot?#iefix)
      format('embedded-opentype'),
    url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.woff2) format('woff2'),
    url(https://static.figma.com/blog/fonts/Apercu-RegularItalic.ttf) format('truetype');
}


@font-face {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/blog/fonts/Apercu-Medium.eot?#iefix) format('embedded-opentype'),
    url(https://static.figma.com/blog/fonts/Apercu-Medium.woff2) format('woff2'),
    url(https://static.figma.com/blog/fonts/Apercu-Medium.ttf) format('truetype');
}


@font-face {
  font-family: 'Apercu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.eot?#iefix) format('embedded-opentype'),
    url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.woff2) format('woff2'),
    url(https://static.figma.com/blog/fonts/Apercu-MediumItalic.ttf) format('truetype');
}


@font-face {
  font-family: 'Apercu-Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/blog/fonts/Apercu-Mono.eot?#iefix) format('embedded-opentype'),
    url(https://static.figma.com/blog/fonts/Apercu-Mono.woff2) format('woff2'),
    url(https://static.figma.com/blog/fonts/Apercu-Mono.ttf) format('truetype');
}














@font-face {
  font-family: 'D7CBI';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/DSEG7Classic-Italic-Custom2.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/DSEG7Classic-Italic-Custom2.woff) format('woff');
}


@font-face {
  font-family: 'D7CBIB';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/uploads/ebb2329c34e943b5ff793ecbca7fd432fb93f8c6) format('woff2'),
    url(https://static.figma.com/uploads/06688d40b7d52b25111a4d495f45e6584f7e65cb) format('woff');
}




@font-face {
  font-family: 'Figma Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Light.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Light.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: oblique;
  font-weight: 300;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Light-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Light-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Regular.woff2) format('woff2'),
    url(https://static.figma.com/webfont/Figma-Standard-Text-Regular.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: oblique;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Regular-Oblique.woff2)
      format('woff2'),
    url(https://static.figma.com/webfont/Figma-Standard-Text-Regular-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Medium.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Medium.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: oblique;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Medium-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Medium-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Bold.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Bold.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: oblique;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Bold-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Bold-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Heavy.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Heavy.woff) format('woff');
}


@font-face {
  font-family: 'Figma Sans';
  font-style: oblique;
  font-weight: 900;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Heavy-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Standard-Text-Heavy-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Light.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Light.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: oblique;
  font-weight: 300;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Light-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Light-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Regular.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Regular.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: oblique;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Regular-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Regular-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Medium.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Medium.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: oblique;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Medium-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Medium-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Bold.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Bold.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: oblique;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Bold-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Bold-Oblique.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Heavy.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Heavy.woff) format('woff');
}


@font-face {
  font-family: 'Figma Mono';
  font-style: oblique;
  font-weight: 900;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Figma-Mono-Heavy-Oblique.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Figma-Mono-Heavy-Oblique.woff) format('woff');
}




@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(https://static.figma.com/uploads/2cca21a49f7dad1daa612d73d50357644671964a);
}


@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(https://static.figma.com/uploads/43d730c59dee2754d29e0d946ba8cb8339656979)
    format('woff2');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Roboto-Light.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Roboto-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Roboto-Regular.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Roboto-Medium.woff2?v=2) format('woff2'),
    url(https://static.figma.com/webfont/1/Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Roboto-Bold.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/RobotoMono-Regular.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/RobotoMono-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/RobotoMono-Bold.woff2) format('woff2'),
    url(https://static.figma.com/webfont/1/RobotoMono-Bold.woff) format('woff');
}






@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Whyte-Regular.woff) format('woff'),
    url(https://static.figma.com/webfont/1/Whyte-Regular.woff2) format('wof2');
}


@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Whyte-Medium.woff) format('woff'),
    url(https://static.figma.com/webfont/1/Whyte-Medium.woff2) format('wof2');
}


@font-face {
  font-family: 'Whyte';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/Whyte-Bold.woff) format('woff'),
    url(https://static.figma.com/webfont/1/Whyte-Bold.woff2) format('wof2');
}


@font-face {
  font-family: 'WhyteInktrap';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/WhyteInktrap-Regular.woff) format('woff'),
    url(https://static.figma.com/webfont/1/WhyteInktrap-Regular.woff2) format('wof2');
}


@font-face {
  font-family: 'WhyteInktrap';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url(https://static.figma.com/webfont/1/WhyteInktrap-Bold.woff) format('woff'),
    url(https://static.figma.com/webfont/1/WhyteInktrap-Bold.woff2) format('wof2');
}

/* ===== Extracted <style> block ===== */

/*
    This should be kept in sync with:
    - GRID_TILE_MIN_WIDTH in web/js/browse/shared/views/items_view/grid_view/grid_view.tsx
    - $gridTileMinWidth in _measurements.css
  */
  :root {
    --file-grid-tile-min-width: 272px;
  }


  #filebrowser-loading-page {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
  }


  .filebrowser-loading-page-layout {
    display: flex;
    flex-wrap: wrap;


    /* Make sure the loading page is flush with the edges of the page so
       our layout isnt affected by browser default margins/paddings */
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg, white);
  }


  #loading-content-pane {
    opacity: 1;
    -webkit-transition: opacity .4s ease-in-out;
  }


  #filebrowser-loading-page.fadeOut {
    opacity: 0;
  }


  #filebrowser-loading-page.hidden {
    display: none;
    opacity: 0;
  }


  .filebrowser-loading-page .file-grid.create-file-grid {
    margin: 24px 0px;
    grid-gap: 32px;
    background-color: var(--color-bg, white);
  }


  /* HAX: see loading-page-container in loading_spinner.tsx */
  #loading-page-container .create-file-grid {
    display: none;
    background-color: var(--color-bg, white);
  }
  #loading-page-container .sort-dropdown {
    margin-top: 0px;
  }


 /*
  * HAX: The sidebar is cloned and used independently outside of this
  * page so any styles like `.filebrowser-loading-page .thing` applied
  * to sidebar sub-elements also need a selector like
  * `.filebrowser-loading-sidebar .thing` so that they work outside of
  * this page too.
  */
  .filebrowser-loading-page .row,
  .filebrowser-loading-sidebar .row {
    background-color: var(--color-bg-secondary, #f0f0f0);
    border-radius: 3px;
    height: 16px;
  }


  .filebrowser-loading-page .circle,
  .filebrowser-loading-sidebar .circle {
    border-radius: 3px;
    background-color: var(--color-bg-secondary, #f0f0f0);
    width: 16px;
    height: 16px;
  }


  .filebrowser-loading-page .row .circle,
  .filebrowser-loading-sidebar .row .circle {
    position: relative;
    top: -1px;
    left: -35px;
  }


  .filebrowser-loading-sidebar {
    flex: 0 0 240px;
    width: 240px;
    background-color: var(--color-bg, white);
    padding-top: 16px;
    display: flex;
    flex-direction: column;
  }


  .filebrowser-loading-page .navbar {
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--color-bg-toolbar, #2C2C2C);
    z-index: 1;
  }


  .filebrowser-loading-sidebar .row {
    width: 85px;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 48px;
  }


  .filebrowser-loading-sidebar .row .circle {
    position: relative;
    top: -1px;
    left: -35px;
  }


  .filebrowser-loading-page .divider,
  .filebrowser-loading-sidebar .divider {
    height: 1px;
    background-color: var(--color-border, rgba(0, 0, 0, 0.1));
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }


  .filebrowser-loading-sidebar .row:nth-child(7) { width: 40px; }
  .filebrowser-loading-sidebar .row:nth-child(8) { width: 58px; }


  .filebrowser-loading-sidebar .row:nth-last-child(1) { opacity: 0.4; width: 65px; }
  .filebrowser-loading-sidebar .row:nth-last-child(2) { opacity: 0.4; width: 65px; }
  .filebrowser-loading-sidebar .row:nth-last-child(3) { opacity: 0.8; width: 46px; }


  .filebrowser-loading-page .page {
    flex: 1 1;
    box-sizing: border-box;
    border-left: 1px var(--color-border, #e5e5e5) solid;
    display: flex;
    flex-direction: column;
  }


  .filebrowser-loading-page .toolbar {
    border-bottom: 1px var(--color-border, #e5e5e5) solid;
    height: 48px;
  }


  .filebrowser-loading-page .toolbar .item {
    background-color: var(--color-bg-secondary, #f0f0f0);
    border-radius: 3px;
    width: 85px;
    height: 16px;
    margin-left: 32px;
    margin-top: 16px;
  }


  .filebrowser-loading-page .columns {
    flex: 1 1;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 32px;
  }


  @media (max-width: 849px) {
    .filebrowser-loading-page .columns {
      flex-direction: column;
    }


    .filebrowser-loading-page .right-column {
      padding-left: 32px;
    }


    .filebrowser-loading-page .public-header + .columns {
      flex-direction: column-reverse;
    }
  }


  .filebrowser-loading-page .content {
    flex: 1 1;
  }


  .filebrowser-loading-page .sort-dropdown {
    border-radius: 3px;
    width: 86px;
    padding: 16px 32px 32px 32px;
  }


  .filebrowser-loading-page .create-file-tile {
    background-color: var(--color-bg-secondary, white);
    border: 1px solid var(--color-border, #e5e5e5);
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 72px;
    box-sizing: border-box;
  }


  @media (max-width: 832px) {
    .filebrowser-loading-page .create-file-tile {
      height: 48px;
    }
  }


  @media (max-width: 645px) {
    .filebrowser-loading-page .create-file-tile, .filebrowser-loading-page .sort-dropdown {
      display: none;
    }
  }


  .filebrowser-loading-page .create-file-tile .icon {
    background-color: var(--color-bg-secondary, #f0f0f0);
    border-radius: 2px;
    margin-left: 16px;
    margin-right: 16px;
    height: 24px;
    width: 24px;
  }


  .filebrowser-loading-page .create-file-tile .label {
    background-color: var(--color-bg-secondary, #f0f0f0);
    width: 132px;
    height: 16px;
    border-radius: 3px;
  }


  @media (max-width: 1440px) {
   .filebrowser-loading-page .create-file-tile:nth-last-child(1) {
     display: none;
   }
  }


  .filebrowser-loading-page .tile {
    height: 56px;
    padding-top: 60%;
    position: relative;
  }


  .filebrowser-loading-page .tile .inner {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    border: 1px solid var(--color-border, #e5e5e5);
    border-radius: 6px;
    background-color: var(--color-bg-secondary, #f0f0f0);
  }


  .filebrowser-loading-page .tile .inner .lower {
    height: 56px;
    background-color: var(--color-bg, white);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 6px 6px;
  }


  .filebrowser-loading-page .public-grid {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--file-grid-tile-min-width), 1fr));
    grid-gap: 32px;
    padding-left: 32px;
  }


  @media (max-width: 1023px) {
    .filebrowser-loading-page .public-grid {
      grid-template-columns: 1fr;
    }
  }


  .filebrowser-loading-page .public-grid .tile {
    height: 56px;
    padding-top: 60%;
  }


  .filebrowser-loading-page .public-grid .tile:nth-child(6) { opacity: .8; }
  .filebrowser-loading-page .public-grid .tile:nth-child(7) { opacity: .4; }


  .filebrowser-loading-page .file-grid {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--file-grid-tile-min-width), 1fr));
    grid-gap: 32px;
    padding-left: 32px;
  }


  .filebrowser-loading-page .file-grid .tile:nth-child(6) { opacity: .8; }
  .filebrowser-loading-page .file-grid .tile:nth-child(7) { opacity: .4; }


  .filebrowser-loading-page .team-grid {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    grid-gap: 32px 32px;
    padding: 32px 0 0 32px;
    align-content: start;
  }


  .filebrowser-loading-page .team-tile {
    border: 1px solid var(--color-border, rgba(0, 0, 0, .1));
    border-radius: 6px;
    position: relative;
    padding: 16px;
  }


  .filebrowser-loading-page .team-grid .team-tile:nth-child(6) { opacity: .8; }
  .filebrowser-loading-page .team-grid .team-tile:nth-child(7) { opacity: .4; }


  .filebrowser-loading-page .team-tile .row {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }


  .filebrowser-loading-page .team-tile .row:nth-child(1) {
    width: 32px;
    height: 32px;
  }


  .filebrowser-loading-page .team-tile .row:nth-child(2) {
    width: 65px;
    height: 30px;
    position: absolute;
    top: 17px;
    right: 16px;
    margin-top: 0;
  }


  .filebrowser-loading-page .team-tile .row:nth-child(3) {
    width: 120px;
    margin-top: 20px;
  }
  .filebrowser-loading-page .team-tile .row:nth-child(4) {
    width: 232px;
    margin-top: 12px;
  }
  .filebrowser-loading-page .team-tile .row:nth-child(5) {
    width: 174px;
    margin-top: 8px;
  }


  .filebrowser-loading-page .team-tile .circles {
    display: flex;
    flex-direction: row;
  }


  .filebrowser-loading-page .team-tile .circle {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-top: 22px;
  }


  .filebrowser-loading-page .public-header {
    background-color: var(--color-bg-secondary, #f0f0f0);
    width: 100%;
    height: 240px;
    margin-bottom: 80px;
  }


  .filebrowser-loading-page .profile-header {
    background-color: var(--color-bg-secondary, #f0f0f0);
    width: 100%;
    height: 64px;
  }


  .filebrowser-loading-page .profile-grid {
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 24px 1fr .75fr;
    align-items: end;
  }


  .filebrowser-loading-page .profile-grid .row {
    margin-top: 24px;
  }


  .filebrowser-loading-page .profile-grid div:nth-child(4n+1) { width: 148px; }
  .filebrowser-loading-page .profile-grid div:nth-child(4n+3) { width: 56px; }
  .filebrowser-loading-page .profile-grid div:nth-child(4n+4) { width: 99px; }


  .filebrowser-loading-page .profile-grid div:nth-child(1) { width: 61px; margin-top: 0; }


  .filebrowser-loading-page .profile-grid div:nth-child(5) { width: 61px; margin-top: 32px; }
  .filebrowser-loading-page .profile-grid div:nth-child(7) { width: 69px; }
  .filebrowser-loading-page .profile-grid div:nth-child(8) { width: 51px; }


  .filebrowser-loading-page .profile-grid div:nth-child(9) { margin-top: 36px; }
  .filebrowser-loading-page .profile-grid div:nth-child(11) { width: 69px; }
  .filebrowser-loading-page .profile-grid div:nth-child(12) { width: 72px; }


  .filebrowser-loading-page .profile-grid div:nth-child(25),
  .filebrowser-loading-page .profile-grid div:nth-child(27),
  .filebrowser-loading-page .profile-grid div:nth-child(28) { opacity: .8; }


  .filebrowser-loading-page .profile-grid div:nth-child(29),
  .filebrowser-loading-page .profile-grid div:nth-child(31),
  .filebrowser-loading-page .profile-grid div:nth-child(32) { opacity: .4; }


  @media(max-width: 1000px) {
    .filebrowser-loading-page .profile-grid {
      grid-template-columns: 1fr;
    }


    .filebrowser-loading-page .profile-grid div:nth-child(5),
    .filebrowser-loading-page .profile-grid div:nth-child(6),
    .filebrowser-loading-page .profile-grid div:nth-child(7),
    .filebrowser-loading-page .profile-grid div:nth-child(8),
    .filebrowser-loading-page .profile-grid div:nth-child(4n+2),
    .filebrowser-loading-page .profile-grid div:nth-child(4n+3),
    .filebrowser-loading-page .profile-grid div:nth-child(4n+4) { display: none; }
  }


  .filebrowser-loading-page .project-grid {
    padding-left: 32px;
    display: grid;
    grid-row-gap: 22px;
  }


  .filebrowser-loading-page .project-grid .card {
    border: 1px solid var(--color-border, rgba(0, 0, 0, .1));
    border-radius: 4px;
    box-sizing: border-box;
    height: 178px;
    display: flex;
  }


  .filebrowser-loading-page .project-grid .card:nth-child(3) { opacity: .8; }
  .filebrowser-loading-page .project-grid .card:nth-child(4) { opacity: .4; }


  .filebrowser-loading-page .project-grid .card .left {
    width: 196px;
    margin: 16px;
  }


  .filebrowser-loading-page .project-grid .card .right {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 16px 0;
  }


  .filebrowser-loading-page .project-grid .card .left .row:nth-child(1) { width: 107px; }
  .filebrowser-loading-page .project-grid .card .left .row:nth-child(2) { width: 164px; margin-top: 12px; }
  .filebrowser-loading-page .project-grid .card .left .row:nth-child(3) { width: 145px; margin-top: 8px; }
  .filebrowser-loading-page .project-grid .card .left .row:nth-child(4) { width: 158px; margin-top: 8px; }


  .filebrowser-loading-page .project-grid .card .right .row {
    height: 100%;
    flex: 1 1 196px;
    margin-right: 16px;
    border-radius: 6px;
  }


  .filebrowser-loading-page .right-column {
    flex: 0 0 304px;
    margin-right: 16px;
    margin-top: 16px;
    box-sizing: border-box;
    padding-left: 32px;
  }


  .filebrowser-loading-page .right-column .row:nth-child(1) {
    margin-top: 16px;
    width: 120px;
  }
  .filebrowser-loading-page .right-column .row:nth-child(2) {
    margin-top: 18px;
    width: 272px;
  }
  .filebrowser-loading-page .right-column .row:nth-child(3) {
    margin-top: 8px;
    width: 248px;
  }
  .filebrowser-loading-page .right-column .row:nth-child(4) {
    margin-top: 8px;
    width: 272px;
  }
  .filebrowser-loading-page .right-column .row:nth-child(5) {
    margin-top: 8px;
    width: 256px;
  }
  .filebrowser-loading-page .right-column .row:nth-child(6) {
    margin-top: 8px;
    width: 200px;
  }
  .filebrowser-loading-page .right-column .row:nth-child(7) {
    margin-top: 35px;
    width: 88px;
  }
  .filebrowser-loading-page .right-column .row:nth-child(8) {
    margin-top: 22px;
    margin-left: 51px;
    width: 88px;
    opacity: .8;
  }
  .filebrowser-loading-page .right-column .row:nth-child(9) {
    margin-top: 18px;
    margin-left: 51px;
    width: 88px;
    opacity: .4;
  }


  .filebrowser-loading-page .public-left-column {
    padding: 0 0 32px 32px;
    width: 320px;
  }


  .filebrowser-loading-page .public-left-column .row {
    margin-top: 8px;
  }


  .filebrowser-loading-page .public-left-column .row:nth-child(1) {
    width: 120px;
    margin-top: 0;
  }
  .filebrowser-loading-page .public-left-column .row:nth-child(2) {
    width: 272px;
    margin-top: 18px;
  }
  .filebrowser-loading-page .public-left-column .row:nth-child(3) {
    width: 248px;
  }
  .filebrowser-loading-page .public-left-column .row:nth-child(4) {
    width: 272px;
  }
  .filebrowser-loading-page .public-left-column .row:nth-child(5) {
    width: 256px;
    opacity: .8;
  }
  .filebrowser-loading-page .public-left-column .row:nth-child(6) {
    width: 200px;
    opacity: .4;
  }


  /*
  Note: Make sure any changes here are also duplicated in the fullscreen progress bar
  (.progressBar in progress_bar.css)
  */
  #filebrowser-loading-progress-bar {
    height: 5px;
    /* Z index 6 chosen here so it renders over any nav elements but below any scroll bar or modals */
    z-index: 6;


      background: var(--color-bg-brand, #0D99FF);


    position: absolute;
    left: 0;
    animation: filebrowserloadingProgressBar 10s cubic-bezier(.08,.8,.1,1) forwards;
  }


  @keyframes filebrowserloadingProgressBar {
    from { width: 0; }
    to { width: 100%; }
  }




  @media (max-width: 645px) {
    .filebrowser-loading-sidebar {
      display: none;
    }


    .filebrowser-loading-page .page {
      margin-left: 0;
      width: 100%;
    }


    .filebrowser-loading-page .public-header {
      height: 120px;
    }


    .filebrowser-loading-page .file-grid {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
      align-self: center;
    }
  }

/* ===== Extracted <style> block ===== */

/*  PAGE LAYOUT STYLES */
  .fb-page-layout {
    background-color: var(--color-bg, white);
  }


  .fb-flex-row {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }


  .fb-sidebar {
    width: 240px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
  }


  .fb-sidebar > :nth-last-child(2) {
    opacity: 0.6;
  }


  .fb-sidebar > :nth-last-child(1) {
    opacity: 0.3;
  }


  .fb-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-left: 1px var(--color-border) solid;
  }


  .fb-page-content-columns {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }


  .fb-page-content {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    margin-right: 32px;
  }


  .fb-page-right-column {
    width: 304px;
    margin-top: 24px;
    margin-right: 16px;
    padding-left: 32px;
  }


  .fb-fading-content {
    margin-left: 32px;
  }


  /* This is what applies the fading gradient over the skeletons */
  .fb-fading-content:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to bottom, transparent 50%, var(--color-bg) 100%);
    pointer-events: none;
  }


  /* SIDEBAR STYLES */


  .fb-sidebar-account-and-notifications {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }


  .fb-sidebar-searchbar {
    padding: 0 8px;
    margin-top: 4px;
    margin-bottom: 8px;
  }


  .fb-sidebar-row {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .fb-sidebar-row :nth-child(2) {
    margin-left: 12px;
  }




  .fb-divider {
    height: 1px;
    background-color: var(--color-border, rgba(0, 0, 0, 0.1));
    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
  }




  @media (max-width: 645px) {
    .fb-sidebar {
      display: none;
    }
  }


  /* RIGHT COLUMN STYLES */


  .fb-page-right-column-header {
    margin-bottom: 18px;
  }


  .fb-page-right-column-rows > :not(:first-child) {
    margin-top: 8px;
  }


  .fb-page-right-column-lower {
    margin-top: 35px;
  }


  .fb-page-right-column-user-list {
    margin-top: 22px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }


  .fb-page-right-column-user {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }


  .fb-page-right-column-user:nth-child(2) {
    opacity: 0.6;
  }


  .fb-page-right-column-user:nth-child(3) {
    opacity: 0.3;
  }


  /* Skeleton Item Styles */


  .fb-shrink-0 {
    flex-shrink: 0;
  }


  .fb-circle-16 {
    flex-shrink: 0;
    background-color: var(--color-bg-secondary, #f0f0f0);
    height: 16px;
    width: 16px;
    border-radius: 9999px;
  }


  .fb-circle-24 {
    background-color: var(--color-bg-secondary, #f0f0f0);
    height: 24px;
    width: 24px;
    border-radius: 9999px;
  }


  .fb-rectangle-16 {
    background-color: var(--color-bg-secondary);
    height: 16px;
    border-radius: 3px;
  }


  .fb-rectangle-24 {
    background-color: var(--color-bg-secondary);
    height: 24px;
    border-radius: 3px;
  }


  .fb-rectangle-32 {
    background-color: var(--color-bg-secondary);
    height: 32px;
    border-radius: 8px;
  }


  .fb-rectangle-36 {
    background-color: var(--color-bg-secondary);
    height: 36px;
    border-radius: 3px;
  }


  /* Skeleton Item Width Options */


  .fb-width-16 {
    width: 16px;
  }


  .fb-width-32 {
    width: 32px;
  }


  .fb-width-36 {
    width: 36px;
  }


  .fb-width-50 {
    width: 50px;
  }


  .fb-width-55 {
    width: 55px;
  }


  .fb-width-60 {
    width: 60px;
  }


  .fb-width-70 {
    width: 70px;
  }


  .fb-width-80 {
    width: 80px;
  }


  .fb-width-88 {
    width: 88px;
  }


  .fb-width-100 {
    width: 100px;
  }


  .fb-width-105 {
    width: 105px;
  }


  .fb-width-115 {
    width: 115px;
  }


  .fb-width-120 {
    width: 120px;
  }


  .fb-width-148 {
    width: 148px;
  }


  .fb-width-167 {
    width: 167px;
  }


  .fb-width-180 {
    width: 180px;
  }


  .fb-width-200 {
    width: 200px;
  }


  .fb-width-248 {
    width: 248px;
  }


  .fb-width-256 {
    width: 256px;
  }


  .fb-width-272 {
    width: 272px;
  }


  .fb-width-full {
    width: 100%;
  }


  /* Header Styles */


  .fb-toolbar-48 {
    border-bottom: 1px var(--color-border, #e5e5e5) solid;
    height: 48px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 32px;
  }


  .fb-toolbar-64 {
    border-bottom: 1px var(--color-border, #e5e5e5) solid;
    height: 64px;
    /* We have 10px above the toolbar in the actual page */
    margin-top: 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 32px;
  }


  .fb-toolbar-84 {
    border-bottom: 1px var(--color-border, #e5e5e5) solid;
    height: 80px;
    /* We have 4px above the toolbar in the actual page */
    margin-top: 4px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 32px;
  }


  .fb-toolbar-84 :nth-child(2) {
    margin-left: 12px;
  }


  .fb-breadcrumb {
    height: 48px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 32px;
  }


  .fb-header {
    height: 64px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    padding-left: 32px;
  }


  .fb-header :nth-child(2) {
    margin-left: 12px;
  }


  .fb-viewbar {
    padding-left: 32px;
    height: 64px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  /* Page Content: Tile Grid */


  .fb-tile-grid {
    display: grid;
    gap: 32px;
    justify-items: stretch;
    /* Keep this grid template in line with the grid-template-columns in `shared/views/items_view/grid_view/grid_view.tsx` */
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  }


  .fb-tile-grid-top-padding {
    margin-top: 24px;
  }


  .fb-file-tile-DEPRECATED {
    display: flex;
    flex-direction: column;
  }


  .fb-file-tile-DEPRECATED .fb-rectangle-16 {
    margin-top: 20px;
    margin-bottom: 20px
  }


  .fb-file-thumbnail {
    background-color: var(--color-bg-secondary);
    aspect-ratio: 16 / 9;
  }


  .fb-border-radius-8 {
    border-radius: 8px;
  }


  .fb-card {
    border: 1px solid var(--color-border);
    border-radius: 13px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }


  .fb-file-card-footer {
    border-top: 1px solid var(--color-border);
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }


  .fb-file-card-footer-text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }


  .fb-project-tile {
    border: 1px solid var(--color-border);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }


  .fb-project-tile > :nth-child(2) {
    margin-top: 16px;
  }


  .fb-project-tile > :nth-child(3) {
    margin-top: 8px;
  }


  .fb-project-tile-folder-previews {
    border-radius: 13px;
    gap: 12px;
    padding: 16px;
  }


  .fb-project-tile-folder-previews > :nth-child(2) {
    margin-top: 0;
  }


  .fb-project-tile-details {
    display: flex;
    align-items: center;
    gap: 8px;
  }


  .fb-project-tile-icon {
    flex-shrink: 0;
    width: 24px;
  }


  .fb-project-tile-details-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }


  .fb-team-tile {
    border: 1px solid var(--color-border);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }


  .fb-team-tile > :nth-child(2) {
    margin-top: 48px;
  }


  .fb-team-tile > :nth-child(3),
  .fb-team-tile > :nth-child(4) {
    margin-top: 8px;
  }


  .fb-project-preview-grid {
    display: grid;
    gap: 12px;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
  }


  .fb-project-tile-folder-previews .fb-project-preview-grid {
    gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 64px;
  }


  .fb-project-tile-folder-previews .fb-file-thumbnail {
    aspect-ratio: auto;
  }


  @media (max-width: 645px) {


    .fb-tile-grid {
      grid-template-columns: 100%;
    }
  }


  .fb-profile-grid-header {
    margin-top: 24px;
    margin-bottom: 8px;
  }
